@keyframes backgroundfadein {
  from {
    background-position-y: -1000px
  }
  to {
    background-position-y: 0px;
  }
}
:root {
  color: white;
  background-size: 100% 200%;
  background-image: linear-gradient(rgb(0, 6, 30) 5%, black 35%);
  animation-name: backgroundfadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-repeat:no-repeat;
}

body {
  min-height: 100vh;
}